<<<<<<< HEAD
.question{
	margin-bottom:20px;
}

.options{
	margin-left: 20px;
}

label{
	display:block;
=======
.question{
	margin-bottom:20px;
}

.options{
	margin-left: 20px;
}

label{
	display:block;
>>>>>>> 9000e4a41b7cba1efe4c4b79e07e5aa2b21e0613
}